<%- include('partials/header.ejs') %>
<section class="blueBanner">

    <h1>Welcome <%= user.userName %></h1>

</section>

<section class="dashMain">

    <section class="dashGrades">

        <h2 class="headings">Grades</h2>

        <% let subs = ["Math", "Science", "ELA", "Social Studies", "Gym", "Art", "Music", "Foreign Language", "Technology", "Health", "Home Economics", "Elective"] %>

        <ul>
            <% for(let i = 0; i < subs.length; i++) { %>
                <% let sub = subs[i] %>
                <% let total = 0 %>
                <% let count = 0 %>
                <% for(let j = 0; j < Assignments.length; j++) { %>
                    <% if(Assignments[j].subject === sub) { %>
                        <% total += Assignments[j].grade %>
                        <% count ++ %>
                    <% } %>
                <% } %>
                <% if(count > 0) { %>
                    <li><%= sub %> <%= total/count %></li>
                <% } %>
            <% } %>
        </ul>

        <!-- <p>Generate a pdf of current grades in each subject:</p>

        <button class="greenBtn">Generate</button> -->

    </section>

    <section class="dashList">

        <h2 class="headings">Most Recent Assignments</h2>

        <ul>

            <% for(let i = 0; i < Assignments.length; i++) {%>
                <% if(i < 10) {%>
                    <li>
                        <%= Assignments[i].subject %>
                        <%= Assignments[i].assignment %>
                        <%= Assignments[i].grade %>
                    </li>
                <% } %>
            <% } %>
            
        </ul>

        <a href="/assignments" class="greenBtn">See All</a>

    </section>

    <section class="dashForm">

        <form action="/dashboard" class="addNew" method="POST" >
                
            <h2 class="headings">Add New Assignment</h2>

            <label for="subject">Subject:</label>

            <select name="subject" class="text-brandBlue inputs assignmentInputs" id="subject">

                <option value="starter" selected>Choose a subject:</option>
                <option>Math</option>
                <option>Science</option>
                <option>ELA</option>
                <option>Social Studies</option>
                <option>Gym</option>
                <option>Art</option>
                <option>Music</option>
                <option>Foreign Language</option>
                <option>Technology</option> 
                <option>Health</option>
                <option>Home Economics</option>
                <option>Elective</option>

            </select>

            <input type="text" name="unit" id="unit" placeholder="Unit (optional):" class="inputs assignmentInputs">

            <input type="text" name="topic" id="topic" placeholder="Topic (optional):" class="inputs assignmentInputs">

            <input type="text" name="assignment" id="assignment" placeholder="Assignment:" class="inputs assignmentInputs">

            <input type="number" min= "0" name="grade" id="grade" placeholder="Grade:" class="inputs assignmentInputs">
            
            <button type="submit" class="greenBtn">Submit</button>

        </form>
            
    </section>

</section>

<%- include('partials/footer.ejs') %>