<%- include('partials/header.ejs') %>
<section class="blueBanner">

    <h1>Welcome <%= user.userName %></h1>

</section>

<section class="dashMain">

    <section class="dashGrades">

        <h2 class="headings">Grades</h2>

        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th class="text-end">Average</th>
                </tr>
            </thead>
            <% let subs = ["Math", "Science", "ELA", "Social Studies", "Gym", "Art", "Music", "Foreign Language", "Technology", "Health", "Home Economics", "Elective"] %>
            
            <% for(let i = 0; i < subs.length; i++) { %>
                <% let sub = subs[i] %>
                <% let total = 0 %>
                <% let count = 0 %>
                <% for(let j = 0; j < Assignments.length; j++) { %>
                    <% if(Assignments[j].subject === sub) { %>
                        <% total += Assignments[j].grade %>
                        <% count ++ %>
                    <% } %>
                <% } %>
                <% if(count > 0) { %>
                    <% let avg = total/count %>
                    <tbody>
                        <tr>
                            <td><%= sub %></td>
                            <td class="text-end"><%= avg %></td>
                        </tr>
                    </tbody>
                <% } %>
            <% } %>
        </table>

        <p class="text-left mb-2 mt-0">Generate a pdf of the current grades in each subject:</p>

        <a href="/dashboard/pdf" class="greenBtn self-center">PDF</a>

    </section>

    <section class="dashList">

        <h2 class="headings">Most Recent Assignments</h2>

            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Assignment</th>
                        <th class="text-end">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < Assignments.length; i++) {%>
                        <tr>
                            <% if(i < 10) {%>
                                    <td><%= Assignments[i].subject %></td>
                                    <td><%= Assignments[i].assignment %></td>
                                    <td class="text-end"><%= Assignments[i].grade %></td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>

        <a href="/assignments" class="greenBtn mt-auto self-center">See All</a>

    </section>

    <section class="dashForm">

        <h2 class="headings">Add New Assignment</h2>

        <form action="/dashboard" class="form centering mt-10" method="POST" >

            <select name="subject" class="text-brandBlue inputs assignmentInputs" id="subject">

                <option value="starter" selected>Choose a subject:</option>
                <option>Math</option>
                <option>Science</option>
                <option>ELA</option>
                <option>Social Studies</option>
                <option>Gym</option>
                <option>Art</option>
                <option>Music</option>
                <option>Foreign Language</option>
                <option>Technology</option> 
                <option>Health</option>
                <option>Home Economics</option>
                <option>Elective</option>

            </select>

            <input type="text" name="unit" id="unit" placeholder="Unit (optional):" class="inputs assignmentInputs">

            <input type="text" name="topic" id="topic" placeholder="Topic (optional):" class="inputs assignmentInputs">

            <input type="text" name="assignment" id="assignment" placeholder="Assignment:" class="inputs assignmentInputs">

            <input type="number" min= "0" name="grade" id="grade" placeholder="Grade:" class="inputs assignmentInputs">
            
            <button type="submit" class="greenBtn">Submit</button>

        </form>
            
    </section>

</section>

<%- include('partials/footer.ejs') %>