<%- include('partials/header.ejs') %>

<h1>Welcome <%= user.userName %></h1>

<% Child.forEach(item => {%>
    <ul>
        <li>
            <%= item.name %>
            <a href="/editchild/<%=item._id %>" class="edit"><span class="fas fa-edit"></span></a>
            <a href="/editchild/remove/<%=item._id %>" class="remove"><span class="fas fa-trash"></span></a>
        </li>
    </ul>
<% }) %>

<a href="/addchild">Add Child</a>

<%- include('partials/footer.ejs') %>